<link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>

<div id="frase">
    “Tú lo sueñas, nosotros lo diseñamos.”
</div>

<div id="name" style="font-family: Allura">
  Constructora Udicon
</div>

<div id="proy">
  Nuestros Servicios
</div>


<div id="cont">
  <app-card image="https://as2.ftcdn.net/v2/jpg/01/87/40/79/1000_F_187407958_AzVtscboUgusDzkpSiAe9jpQEJByVImV.jpg" 
  name="Diseños arquitectónicos" date="11/02/12" route="/Container">
  </app-card>
  <app-card image="https://as2.ftcdn.net/v2/jpg/03/07/21/53/1000_F_307215316_cUjxqwYB2sT5Mwu4uc1mJxHRbf4JmQLF.jpg" 
  name="Construcción vial" date="11/02/12" route="/Cabañas">
  </app-card>
  <app-card image="https://as2.ftcdn.net/v2/jpg/05/06/97/69/1000_F_506976930_rRbeC2QOlScAmX6aCbfjX0OoBuDsKtUR.jpg" 
  name="Ingeniería civil" date="11/02/12" route="/Cupula" >
  </app-card>
</div>