<app-admin-header>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/bogart" rel="stylesheet">
  <head>
    <!-- Design by foolishdeveloper.com -->
     
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <!--Stylesheet-->
      
  </head>
  
  <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
      
      <div id="frase">
        “Bienvenida/o”
      </div>
  
      <div id="proy">
        Recuerde que UDICON le ofrece
      </div>
      
      
      <div id="cont">
        <div class="container">
          <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
    <app-card image="https://as1.ftcdn.net/v2/jpg/04/79/23/58/1000_F_479235887_OsXSxnzkrbK5F1iL4iDjpJgkZMTUQpMe.jpg" 
    name="Manejo de citas" date="" route="/Container">
    </app-card>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4">
    <app-card image="https://as2.ftcdn.net/v2/jpg/04/85/45/13/1000_F_485451373_X6PgVc7y23iysWcyVhbpZtmtqsP5AnQs.jpg" 
    name="Manejo de asesorías" date="" route="/Cabañas">
    </app-card>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4">
    <app-card image="https://as2.ftcdn.net/v2/jpg/03/94/92/45/1000_F_394924536_HjarbK1OKgvEyX67GMXVo8mvR0OlaKli.jpg" 
    name="Buen servicio" date="" route="/Cupula" >
    </app-card>
  </div>
</div>
</div>
</div>
</app-admin-header>

